temp.json
out/*
uml/*
*/__pycache__/*
*.pyc
*.db
.vscode/*
.vscode/settings.json
SentimentAnalyzeServer/.vscode/*
SentimentAnalyzeServer/system/last_scheduler_run.txt
SentimentAnalyzeServer/system/logs/root_app.log
