temp.json
out/*
uml/*
*/__pycache__/*
*.pyc
*.db
.vscode/*
.vscode/settings.json
SentimentAnalyzeServer/.vscode/*
SentimentAnalyzeServer/system/last_scheduler_run.txt
SentimentAnalyzeServer/system/logs/root_app.log
SentimentAnalyzeServer/domain/crawler/fetcher.py
screenshots/*
SentimentAnalyzeServer/system/daily_reports/*
SentimentAnalyzeServer/system/last_report_run.txt
